
  .img1 {
    height: 85%;
    width: 80%;
    background: red;
  }
  .justify-cls{
    justify-content: center;
    margin: 0 auto;
  }
  .a-color{
      color: #ffffff;
      cursor: pointer;
  }
  a:hover {
    color:  #ffffff;
    text-decoration: underline;
    }
  .carousel-inner img {
    width: 100%;
    height: 360px;
  }
  .contact-border{
    border-right: 1px solid black;  
    }



